<div>
  <table>
    <thead>
    <th>Country</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of getCountries(); let i = index">
      <td><a [routerLink]="item.key">({{i}}).{{item.value}}</a></td>
    </tr>
    </tbody>
  </table>

  <svg id="svg1" height="100" width="100" viewBox="0 0 100 100">
    <circle id="circle1" r="20" cx="50" cy="50" [attr.fill]="circleColour"/>
    <circle id="circle2" class="orangeClass" (mouseover)="mouseOver($event)" r="10" cx="70" cy="70"/>
  </svg>

  <svg #table1 xmlns="http://www.w3.org/2000/svg" width="680" height="520"
       (click)="mouseClick($event)"
       (mouseenter)="mouseOver($event)" (mouseleave)="mouseOut($event)"
       viewBox="1754 161 9938 7945" version="1.0" id="svg2">
    <title id="title4">Countries of Europe</title>
    <desc id="desc6"> A blank Map of Europe. Every country has an id which is its ISO-3166-1-ALPHA2 code in lower case.
      Members of the EU have a class="eu", countries in europe (which I found turkey to be but russia not) have a
      class="europe".
      Certain countries are further subdivided the United Kingdom has gb-gbn for Great Britain and gb-nir for Northern
      Ireland. Russia is divided into ru-kgd for the Kaliningrad Oblast and ru-main for the Main body of Russia. There
      is the additional grouping #xb for the "British Islands" (the UK with its Crown Dependencies - Jersey, Guernsey
      and the Isle of Man)

      Contributors.
      Original Image: (http://commons.wikimedia.org/wiki/Image:Europe_countries.svg) Júlio Reis
      (http://commons.wikimedia.org/wiki/User:Tintazul).
      Recolouring and tagging with country codes: Marian "maix" Sigler (http://commons.wikimedia.org/wiki/User:Maix)
      Improved geographical features: http://commons.wikimedia.org/wiki/User:W!B:
      Updated to reflect dissolution of Serbia &amp; Montenegro: http://commons.wikimedia.org/wiki/User:Zirland
      Updated to include British Crown Dependencies as seperate entities and regroup them as "British Islands", with
      some simplifications to the XML and CSS: James Hardy (http://commons.wikimedia.org/wiki/User:MrWeeble)

      Released under CreativeCommons Attribution ShareAlike (http://creativecommons.org/licenses/by-sa/2.5/).
    </desc>
    <defs id="defs8">
      <style type="text/css" id="style10">
        /* Default Definitions, can be overridden with the individual style selectors */
        * {
          fill: none;
        }

        g.nationGroup path {
          fill: inherit;
          stroke: inherit
        }

        g.nationGroup, path {
          fill: #C0C0C0;
          stroke: white;
          stroke-width: 8;
        }

        /* stroke-width was originally at around 4px, but this makes it difficult to see when the image is smaller */
        /* Geographic Features */
        #ocean {
          opacity: 1;
          fill: none;
          fill-opacity: 1
        }

        #lakes {
          opacity: 0.4;
          fill: white;
          fill-opacity: 1;
          stroke: none;
          stroke-width: 8
        }

        svg:hover {
          fill: #fce57e;
        }
      </style>
    </defs>
    <rect y="162.74684" x="-340.6582" height="7934.9712" width="12386.153" id="ocean"/>
    <path *ngFor="let country of (pathsList | async)"
                [attr.id]="country.Paths[0].id"
                [attr.d]="country.Paths[0].data" />
  </svg>
</div>
